
  @media (prefers-color-scheme: dark) {
    .buttoncolor {
      transition: background-color 0.5s ease;
      box-shadow: 9px 9px 16px #13181c, -9px -9px 16px #374149;
    }
    .logoneuro {
      transition: background-color 0.5s ease;
      border-radius: 10px;
      background: #2a313a;
      box-shadow: 7px 7px 16px #13181c, -7px -7px 16px #374149;
    }
    div {
      transition: background-color 0.5s ease;
      background: #2a313a;
    }
    p {
      color: #e0e5ec;
    }
    text {
      color: #e0e5ec;
    }
    .ismywebdown {
      border-radius: 45px;
      background: #2a313a;
      box-shadow: 20px 20px 60px #13181c, -20px -20px 60px #374149;
    }
    h1 {
      color: #e0e5ec;
    }
    h2 {
      color: #e0e5ec;
    }
    h2.title {
      font-size: 72px;
      color: #e0e5ec;
    }
    h3 {
      color: #e0e5ec;
    }
    h4 {
      color: #e0e5ec;
      text-decoration: none;
    }
    h4.navbar {
      transition: background-color 0.5s ease;
      color: #e0e5ec;
      transition: transform 0.2s;
      text-decoration: none;
      background: #2a313a;
      &:hover {
        transform: scale(1.1);
        text-decoration: none;
      }
    }
    h5 {
      color: #e0e5ec;
    }
    h6 {
      color: #e0e5ec;
    }
    a {
      color: #e0e5ec;
      text-decoration: none;
      &:hover.nounderline {
        text-decoration: none;
        color: #e0e5ec;
      }
    }
    .navbarcolor {
      transition: background-color 0.5s ease;
      border-radius: 0px;
      background: #2a313a;
      box-shadow: 9px 9px 16px #13181c, -9px -9px 16px #374149;
    }
    .text-gray {
      color: #e0e5ec;
    }
    .screencentered {
      position: fixed;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -100px;
    }
  }

