#footericon {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}
h1.title {
  font-size: 90px;
}
#paragraph {
  margin-top: 5em;
  p {
    font-size: larger;
  }
  h3,
  h5 {
    font-size: xx-large;
  }
}
.center {
  line-height: 60px;
  text-align: center;
}
.spaceright {
  margin-right: 265px;
}
.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.ismywebdown {
  border-radius: 45px;
  background: #e0e5ec;
  box-shadow: 20px 20px 60px #bec3c9, -20px -20px 60px #ffffff;
}
.ipadtitle {
  font-size: 72px;
}
//default
#content-desktop {
  display: block;
}
#content-tablet {
  display: none;
}
#content-mobile {
  display: none;
}
@media screen and (max-width: 1366px) {
  #content-desktop {
    display: none;
  }
  #content-tablet {
    display: block;
  }
  #content-mobile {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  #content-desktop {
    display: none;
  }
  #content-tablet {
    display: none;
  }
  #content-mobile {
    display: block;
  }
}
.toggle-control {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

