
  * {
    color: #2a313a;
  }
  .navbarcolor {
    transition: background-color 0.5s ease;
    border-radius: 16px;
    background: #e0e5ec;
    box-shadow: 9px 9px 16px #a3b1c6, -9px -9px 16px #ffffff;
  }
  .buttoncolor {
    box-shadow: 9px 9px 16px #a3b1c6, -9px -9px 16px #ffffff;
  }
  .spaceleft {
    margin-top: 6px;
    margin-left: 27px;
  }
  .spacetop {
    margin-top: 15px;
  }
  div {
    transition: background-color 0.5s ease;
    background: #e0e5ec;
  }
  .logoneuro {
    transition: background-color 0.5s ease;
    border-radius: 10px;
    background: #e0e5ec;
    box-shadow: 7px 7px 16px #a3b1c6, -7px -7px 16px #ffffff;
  }
  h1 {
    color: #2a313a;
  }
  h4 {
    color: #2a313a;
  }
  h4.navbar {
    color: #2a313a;
    transition: transform 0.2s;
    text-decoration: none;
    background: #e0e5ec;

    &:hover {
      transform: scale(1.1);
      text-decoration: none;
    }
  }

  text {
    color: #2a313a;
  }
  .text-gray {
    color: #2a313a;
  }
  h2.title {
    font-size: 72px;
    color: #2a313a;
  }
  h2.about {
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.1);
      color: #2a313a;
    }
  }

  h1.mobiletitle {
    font-size: xx-large;
  }

  a {
    color: #2a313a;
    text-decoration: none;
    &:hover.nounderline {
      text-decoration: none;
      color: #2a313a;
    }
  }

