@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');
body {
  margin: 0;
  font-family: 'Kanit',sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New',
    monospace;
}
text {
  font-family: 'Kanit',sans-serif ;
}